{% extends 'base.html' %}

{% block main %}
<!-- Overlay card-->
<div class="card">
    <div class="card bg-dark text-white">
        <img src="https://southwestdesertlover.files.wordpress.com/2014/03/crocus-in-snow.jpg" width="360px"
            height="460px" class="card-img" alt="background image">
        <div class="card-img-overlay">
            <!-- Carousel showing book picks of the month -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://wallpapertag.com/wallpaper/full/6/a/f/605157-tropical-island-desktop-backgrounds-1920x1200-laptop.jpg"
                            width="360px" height="460px" class="d-block mx-auto pb-5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://getwallpapers.com/wallpaper/full/b/c/5/959971-tropical-island-sunset-wallpaper-1920x1080-htc.jpg"
                            width="360px" height="460px" class="d-block mx-auto pb-5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.101destinations.com/wp-content/uploads/2015/07/tropical-islands-resort-tropical-sea.jpg"
                            width="360px" height="460px" class="d-block mx-auto pb-5">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- End of Carousel showing book picks of the month -->
        </div>
    </div>

</div>
<!-- End of overlay card-->
<br>
<div>{{contents}}</div>
<br>
<div class="container">
    <!-- Card group showing top book categories -->
    <div class="card text-center">
        <div class="row">
            <div class="col-sm card">
                <img src="https://zoozel.ru/gallery/images/1212952_foto-ostrova.jpg" class="card-img-top">

                <div class="card-body">
                    <h5 class="card-title">category name</h5>
                    <p class="card-text">category description</p>
                    <a href="/" class="btn btn-primary">Browse</a>


                </div>
            </div>
        </div>
    </div>
    <!-- End of Card group showing top book categories -->

</div>
<br>

{% endblock %}